/**
 * Customized version of bootstrap using variables from _variables.scss.
 * This file is loaded via separate loader thus allowing to use original bootstrap classes (e.g. .btn-default) through out the app.
 */
@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'mixins';

:root {
  --sidebar-bg-color: #3d3d3d;
  --sidebar-color: #fff;
}

body {
  font-family: $font-family-base;
  font-size: 16px;
  background: $body-bg;
  color: $body-color;
}

